<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
        <br>
        <h4>Cart Details</h4>
        <br>
        <table class="table table-striped">
            <thead class="bg-dark text-white">
              <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of cartDetails">
                <td>{{product.productId}}</td>
                <td>{{product.modelName}}</td>
                <td>{{product.price}}</td>
                <td>
                  <div class="row">
                    <button class="btn-minus" (click)="decrementQuantity()"> - </button>
                    <div class="quantityDiv">
                      <input type="text" value="1" class="quantity" [(ngModel)]="quantity">
                    </div>
                    <button class="btn-add" (click)="incrementQuantity()"> + </button>
                  </div>

                </td>
                <td>
                  <button class="btn btn-danger" (click)="removeItem(product.productId)">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-md-5">
        <br>
        <div class="container checkDiv">
            <h4 class="text-center">Price Detail</h4>
            <hr>
            <br>
            <p><b>Price (4 item)</b></p>
            <p><b>Delivery Charges</b></p>
            <hr>
            <p><b>Total Payable</b></p>
            <br>
            <div class="action text-center">
                <button class="checkout btn" type="button">Checkout</button>
            </div>
        </div>
    </div>
  </div>
</div>

